@model IEnumerable<MultiKart.EntityLayer.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_BLayout.cshtml";
}








<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Multikart admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities.">
    <meta name="keywords" content="admin template, Multikart admin template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="pixelstrap">
    <link rel="icon" href="../yeni/themes.pixelstrap.com/multikart/assets/images/dashboard/favicon.png" type="image/x-icon">
    <link rel="shortcut icon" href="../yeni/themes.pixelstrap.com/multikart/assets/images/dashboard/favicon.png" type="image/x-icon">
    <title>Multikart - Premium Admin Template</title>

    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Font Awesome-->
    <link rel="stylesheet" type="text/css" href="../yeni/themes.pixelstrap.com/multikart/assets/css/fontawesome.css">

    <!-- Flag icon-->
    <link rel="stylesheet" type="text/css" href="../yeni/themes.pixelstrap.com/multikart/assets/css/flag-icon.css">

    <!-- jsgrid css-->
    <link rel="stylesheet" type="text/css" href="../yeni/themes.pixelstrap.com/multikart/assets/css/jsgrid.css">

    <!-- Bootstrap css-->
    <link rel="stylesheet" type="text/css" href="../yeni/themes.pixelstrap.com/multikart/assets/css/bootstrap.css">

    <!-- App css-->
    <link rel="stylesheet" type="text/css" href="../yeni/themes.pixelstrap.com/multikart/assets/css/admin.css">
</head>
<body>
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-lg-6">
                    <div class="page-header-left">
                        <h3>
                            Category
                            <small>Multikart Admin panel</small>
                        </h3>
                    </div>
                </div>
                <div class="col-lg-6">
                    <ol class="breadcrumb pull-right">
                        <li class="breadcrumb-item"><a href="index.html"><i data-feather="home"></i></a></li>
                        <li class="breadcrumb-item">Physical</li>
                        <li class="breadcrumb-item active">Category</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h5>Products Category</h5>
                    </div>
                    <div class="card-body">
                        <div class="btn-popup pull-right">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-original-title="test" data-target="#exampleModal">Add Category</button>
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title f-w-600" id="exampleModalLabel">Add Physical Product</h5>
                                            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                        </div>
                                        <div class="modal-body">
                                            <form class="needs-validation">
                                                <div class="form">

                                                    <div class="form-group">
                                                        <label for="validationCustom01" class="mb-1">Category Name :</label>
                                                        <input class="form-control" id="validationCustom01" type="text">
                                                    </div>
                                                    <div class="form-group mb-0">
                                                        <label for="validationCustom02" class="mb-1">Category Image :</label>
                                                        <input class="form-control" id="validationCustom02" type="file">
                                                    </div>

                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-primary" type="button">Save</button>
                                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="table-responsive">

                            <table class="table">
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Id)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Name)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Fiyat)
                                    </th>
                                    
                                    <th>
                                        @Html.DisplayNameFor(model => model.durum)
                                    </th>
                                    <th></th>
                                </tr>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @item.Id
                                        </td>
                                        <td>
                                            @item.Name
                                        </td>
                                        <td>
                                            @item.Fiyat
                                        </td>
                                       
                                        <td>
                                            @item.durum
                                        </td>
                                        
                                    </tr>
                                }
                            </table>
                                @*<div id="basicScenario" class="product-physical"></div>*@

                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
    <!-- latest jquery-->
    <script src="../yeni/themes.pixelstrap.com/multikart/assets/js/jquery-3.3.1.min.js"></script>

    <!-- Bootstrap js-->
    <script src="../yeni/themes.pixelstrap.com/multikart/assets/js/popper.min.js"></script>
    <script src="../yeni/themes.pixelstrap.com/multikart/assets/js/bootstrap.js"></script>

    <!-- feather icon js-->
    <script src="../yeni/themes.pixelstrap.com/multikart/assets/js/icons/feather-icon/feather.min.js"></script>
    <script src="../yeni/themes.pixelstrap.com/multikart/assets/js/icons/feather-icon/feather-icon.js"></script>

    <!-- Sidebar jquery-->
    <script src="../yeni/themes.pixelstrap.com/multikart/assets/js/sidebar-menu.js"></script>

    <!--Customizer admin-->
    <script src="../yeni/themes.pixelstrap.com/multikart/assets/js/admin-customizer.js"></script>

    <!-- Jsgrid js-->
    <script src="../yeni/themes.pixelstrap.com/multikart/assets/js/jsgrid/jsgrid.min.js"></script>
    <script src="../yeni/themes.pixelstrap.com/multikart/assets/js/jsgrid/griddata-manage-product.js"></script>
    <script src="../yeni/themes.pixelstrap.com/multikart/assets/js/jsgrid/jsgrid-manage-product.js"></script>

    <!--right sidebar js-->
    <script src="../yeni/themes.pixelstrap.com/multikart/assets/js/chat-menu.js"></script>

    <!--script admin-->
    <script src="../yeni/themes.pixelstrap.com/multikart/assets/js/admin-script.js"></script>

</body>




